<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container mt-3">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" data-test="logo" href="/">{{ title }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" data-test="navigation">
            {% for id, city in departures.items() %}
                <li class="nav-item active">
                    <a class="nav-link" href="/from/{{ id }}" data-test="navlink">{{ city }}</a>
                </li>
            {% endfor %}
        </ul>
      </div>
    </nav>


    <h1 class="display-5 mt-4">Летим <span data-test="from">{{ departures.direction }}</span></h1>
    <p class="mb-4" >Найдено <span data-test="tourcount"> туров </span>от <span data-test="pricemin">{{ min_price }}</span> до <span data-test="pricemax">{{ max_price }}</span> Р‚ и от <span data-test="nightsmax">{{ min_nights }}</span> ночей до <span data-test="nightsmax">{{ max_nights }}</span> ночей</p>
    <!-- HERO -->



    <!-- CARDS -->

      <div class="row mt-5" data-test="cards">
          {% for tour_id, tour in tours_from.items() %}
        <div class="col-4" data-test="card">
            <div class="card mb-3" >
            <img src="https://place-hold.it/300x200" class="card-img-top img-fluid" data-test="picture">
            <div class="card-body">
              <h5 class="card-title">{{ tour_title }}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="" class="btn btn-sm btn-primary" data-test="tourlink">{{ tour.date }}, {{ tour.nights }} ночей, {{ tour.price }} Р       {{ tour.stars }}*</a>
            </div>
        </div>
        </div>
          {% endfor %}


    </div>

</div>

</body>
</html>