<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stepik Travel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container mt-3">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" data-test="logo" href="#">Stepik Travel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" data-test="navigation">
          <li class="nav-item active">
            <a class="nav-link" href="#" data-test="navlink">Р?Р· Р?Р?С?РєРІС? </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-test="navlink">Р?Р· Р?РµС‚РµС?Р±С?С?РіР°</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-test="navlink">Р?Р· Р?Р?РІР?С?РёР±РёС?С?РєР°</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-test="navlink">Р?Р· Р•РєР°С‚РµС?РёР?Р±С?С?РіР°</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-test="navlink">Р?Р· Р?Р°Р·Р°Р?Рё</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- HERO -->

    <div class="jumbotron text-center mt-4">
      <h1 class="display-4">Р’С?С?РєРёРµ С‚С?С?С?</h1>
      <p class="lead">Р”Р»С? С‚РµС…, РєР?РіР? Р?С‚РІР»РµРєР°С?С‚ РґР?Р?Р°</p>
      <p class="mt-5 w-50 mx-auto">Р?С?С‡С€РёРµ Р?Р°РїС?Р°РІР»РµР?РёС?,РіРґРµ Р?РёРєС‚Р? Р?Рµ Р±С?РґРµС‚ РІР°Р? Р?РµС€Р°С‚С? С?РёРґРµС‚С? Р?Р° Р±РµС?РµРіС? Рё РёР·С?С‡Р°С‚С? РїС?Р?РіС?Р°Р?Р?РёС?Р?РІР°Р?РёРµ, РґРёР·Р°Р№Р?, С?Р°Р·С?Р°Р±Р?С‚РєС? РёРіС? Рё С?РїС?Р°РІР»РµР?РёРµ РїС?Р?РґС?РєС‚Р°Р?Рё</p>
    </div>

    <!-- CARDS -->

    <div class="row mt-5" data-test="cards">

        <div class="col-4" data-test="card">
            <div class="card mb-3" >
            <img src="https://place-hold.it/300x200" class="card-img-top img-fluid" data-test="picture">
            <div class="card-body">
              <h5 class="card-title">Hotel title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="" class="btn btn-sm btn-primary" data-test="tourlink">Р?Р?РґС?Р?Р±Р?РµРµ</a>
            </div>
        </div>
        </div>

        <div class="col-4" data-test="card">
            <div class="card mb-3" >
            <img src="https://place-hold.it/300x200" class="card-img-top img-fluid" data-test="picture">
            <div class="card-body">
              <h5 class="card-title">Hotel title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="" class="btn btn-sm btn-primary" data-test="tourlink">Р?Р?РґС?Р?Р±Р?РµРµ</a>
            </div>
        </div>
        </div>

        <div class="col-4" data-test="card">
            <div class="card mb-3" >
            <img src="https://place-hold.it/300x200" class="card-img-top img-fluid" data-test="picture">
            <div class="card-body">
             <h5 class="card-title">Hotel title</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
             <a href="" class="btn btn-sm btn-primary" data-test="tourlink">Р?Р?РґС?Р?Р±Р?РµРµ</a>
            </div>
        </div>
        </div>

        <div class="col-4" data-test="card">
            <div class="card mb-3" >
            <img src="https://place-hold.it/300x200" class="card-img-top img-fluid" data-test="picture">
            <div class="card-body">
              <h5 class="card-title">Hotel title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="" class="btn btn-sm btn-primary" data-test="tourlink">Р?Р?РґС?Р?Р±Р?РµРµ</a>
            </div>
        </div>
        </div>

        <div class="col-4" data-test="card">
            <div class="card mb-3" >
            <img src="https://place-hold.it/300x200" class="card-img-top img-fluid" data-test="picture">
            <div class="card-body">
              <h5 class="card-title">Hotel title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="" class="btn btn-sm btn-primary" data-test="tourlink">Р?Р?РґС?Р?Р±Р?РµРµ</a>
            </div>
        </div>
        </div>

        <div class="col-4" data-test="card">
            <div class="card mb-3" >
            <img src="https://place-hold.it/300x200" class="card-img-top img-fluid" data-test="picture">
            <div class="card-body">
              <h5 class="card-title">Hotel title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="" class="btn btn-sm btn-primary"  data-test="tourlink">Р?Р?РґС?Р?Р±Р?РµРµ</a>
            </div>
        </div>
        </div>
    </div>

</div>

</body>
</html>