{% extends 'base.html' %}

{% block container %}

    <h1 class="display-3 mt-4" data-test="title">{{ hotel.title }} {{ hotel.stars }}*</h1>

    <!-- HERO -->

    <p class="lead" data-test="lead"><span data-test="country">{{ hotel.country }}</span> {{ hotel.nights }} ночей <span data-text="departure"> {{ from_city }} </span> <span data-text="nights"></span></p>

    <img data-test="picture" src={{ hotel.picture }} class="w-75" alt="">

    <p class="my-4 w-75" data-test="description">{{ hotel.description }}</p>

    <a href="" class="btn btn-success btn-lg" data-test="buybutton">Купить тур за <span data-test="price">{{ hotel.price }}</span></a>
</div>

</body>
</html>

{% endblock %}