{% extends 'base.html' %}

{% block container %}



    <!-- HERO -->

    <div class="jumbotron text-center mt-4">
      <h1 class="display-4">Всякие туры</h1>
      <p class="lead">{{ subtitle }}</p>
      <p class="mt-5 w-50 mx-auto">{{ description }}</p>
    </div>

    <!-- CARDS -->

    <div class="row mt-5" data-test="cards">
        {% for tour_id, tour in tours.items() %}
        <div class="col-4" data-test="card">
            <div class="card mb-3" >
            <img src={{ tour.picture }} class="card-img-top img-fluid" data-test="picture">
            <div class="card-body">
              <h5 class="card-title">{{ tour.country }}:  {{ tour.title }} {{ tour.stars }}*</h5>
             <p class="card-text">{{ tour.description }}</p>
                <a href="/tours/{{ tour_id }}" class="btn btn-sm btn-primary" data-test="tourlink">{{ tour.date }}, {{ tour.nights }} ночей, {{ tour.price }} Р       {{ tour.stars }}*</a>
            </div>
        </div>
        </div>
        {% endfor %}
    </div>

</div>

</body>
</html>

{% endblock %}